#menu > button:first-child:hover {
    transform: translateY(1vh);
}

#menu > button:last-child:hover {
    transform: translateY(-1vh);
}

aside{
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 20vh;
    height: 100vh;
    border-right: 0.8vh #534439 solid;
    background-color: #FFECCC;
}

aside > b , aside > div:first-child{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5vh;
    font-weight: bold;
    height: 8vh;
    width: 100%;
    border-bottom: 0.5vh rgb(83, 58, 38) solid;
}

aside > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vh;
    box-sizing: border-box;
    width: 100%;
    height: 7vh;
    font-size: 1.8vh;
    border-bottom: 0.5vh rgb(83, 58, 38) solid;
}

aside > div > span{
    color: red;
}

main{
    position: relative;
    flex-grow: 1;
}

section {
    display: grid;
    grid-template-areas:
        's s b b c c'
        's s b b c c'
        'o o o o o scale';
    width: 1300px;
    height: 700px;
    background-color: #534439;
    border: 0.8vh #534439 solid;
}

section > div{
    position: relative;
    display: flex;
    justify-content: center;
    background-size: 100% 100%;
    box-sizing: border-box;
    filter: brightness(0.5);
    transition: filter 0.4s;
}

section > div > b{
    position: absolute;
    margin-top: 10px;
    font-size: 30px;
    text-shadow: 0px 0px 7px black;
    color: #FFECCC;
}

div.on{
    filter: brightness(1);
}

span.on{
    color: green;
}

#Camera-1 , #Cucina{
    grid-area: c;
    background-image: url(../img/camera1.avif);
}

#Cucina{
    background-image: url(../img/cucina.jpeg);
}

#Camera-2 , #Sala{
    grid-area: s;
    border-right: 0.8vh #534439 solid;
    background-image: url(../img/camera2.avif);
}

#Sala{
    background-image: url(../img/salotto.avif);
}

#Terrazzo , #Corridoio{
    grid-area: o;
    border-top: 0.8vh #534439 solid;
    background-image: url(../img/parquet.jpg);
}

#Terrazzo{
    background-image: url(../img/balcone.jpeg);
}

#Scale {
    grid-area: scale;
    border-top: 0.8vh #534439 solid;
    background-image: url(../img/scale.jpg);
}

#Bagno-2 , #Bagno-1 {
    grid-area: b;
    border-right: 0.8vh #534439 solid;
    background-image: url(../img/bagno2.jpg);
}

#Bagno-2{
    background-image: url(../img/bagno1.jpg);
}

label{
    position: absolute;
    bottom: 1vh;
    right: 1vh;
    width: 60px;
    height: 34px;
    border: 0.4vh #534439 solid;
    border-radius: 3vh;
    overflow: hidden;
}

label > span {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
}

label > input{
    display: none;
}

label > span:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    border-radius: 50%;
    background-color: white;
    transition: 0.4s;
}

label > input:checked + span {
    background-color: #2196F3 !important;
}

label > input:checked + span::before {
    transform: translateX(26px);
}

@media screen and (max-width: 1600px) {
    section{
        width: 910px;
        height: 490px;
    }
}

@media screen and (max-width: 1130px) {
    section{
        width: 700px;
        height: 380px;
    }
}

@media screen and (max-width: 900px) {
    section{
        width: 590px;
        height: 318px;
    }

    label{
        transform: scale(80%);
        bottom: 0;
        right: 0;
    }
}

@media screen and (max-width: 790px) {
    body{
        flex-direction: column;
    }

    aside{
        flex-direction: row;
        max-height: 8vh;
        width: 100%;
        border-right: none;
        border-bottom: 0.5vh rgb(83, 58, 38) solid;
    }

    aside > div:first-child{
        border-bottom: none;
    }

    aside > b{
        display: none;
    }

    aside > div{
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
        padding: 0.4vh;
        border-right: 0.5vh rgb(83, 58, 38) solid;
        border-bottom: none;
    }

    aside > div:last-child{
        border: none;
    }
}

@media screen and (max-width: 620px) {
    section{
        width: 470px;
        height: 254px;
    }

    label{
        transform: scale(60%);
    }
}

@media screen and (max-width: 500px) {
    section{
        width: 410px;
        height: 220px;
    }

    label{
        transform: scale(50%);
        bottom: -0.8vh;
        right: -1.6vh;
    }
}

@media screen and (max-width: 435px) {
    section{
        width: 330px;
        height: 176px;
    }
   
}

@media screen and (max-width: 350px) {
    section{
        transform: scale(80%);
    }

    aside > div{
        font-size: 1.3vh;
    }    
}